.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
   color: #61dafb;
}

.highlights-list .video-thumb {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid black;
}
.video-thumb {
  width: 150px;
  height: 84px;
  margin-left: 5px;
}
.video-thumb:first-child{
  margin-left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-thumb iframe {
  pointer-events: none;
}

.search-bar {
  background-color: rgb(245, 245, 245);
  height: 50px;
}

.search-bar input {
  top: 10px;
  width: 80%;
  height: 25px;
  font-size: 18px;
  padding-left: 8px;
  position: relative;
}
/* style={{ width: "80%", height: "25px", fontSize: "18px", paddingLeft: "8px"  }} */